# fix on some servers WARNING: terminal is not fully functional
term={{ term_term }}

font={{ term_font_name }}:size={{ term_font_size }}

# color theme
include={{ term_base16_dir }}/colors/base16-{{ term_base16_theme }}.ini
