# The defaults below could be overridden in $XDG_CONFIG_HOME/swaylock/config
#  (~/.config/swaylock/config).
#
# Image path supports environment variables and shell expansions,
# e.g. image=$HOME/Pictures/default.png
image={{ wm_sway_dir }}/wallpaper.png
scaling=fill
